<h1>Coucou</h1>
<% if @books.any?%>
  <ul>
    <% @books.each do |book| %>
      <li><p>Titre de l'oeuvre :</p>
        <%= book.title %></li>
      <li><p>Nom de l'auteur :</p>
        <%= book.author.name %>
        </li>
      <li><p>Genre de l'oeuvre :</p>
        <%= book.genre.name %></li>
      <li><p>Numéro ISBN :</p>
      <%= book.isbn %></li>
    <% end %>
  </ul>
<% end %>

<h1>Ajouter un livre à la bibliothèque</h1>
<%= form_with url: "/books", method: :post do |form| %>
  <%= form.label :isbn, "Renseigner l'ISBN du livre recherché" %>
  <%= form.text_field :isbn %>
  <%= form.submit "Chercher" %>
<% end %>
